
<form id="site" class="edit" action="/articles/<%=article.id%>/?_method=PATCH" method="post">
  <label>Author</label><br>
  <input type="text" name="article[author]" value="<%= article.author %>"> <br>
  <label >Title</label><br>
  <input type="text" name="article[title]" value="<%= article.title %>"> <br>
  <label>Category:</label><br>
  <input type="text" name="article[category]" placeholder="<%= article.category %>"><br>
  <label>Image Link:</label><br>
  <input type="text" name="article[image]" placeholder="<%= article.image %>"><br>
  <label>content</label><br>
  <textarea class="largeDocument" type="text" name="article[content]"><%= article.content -%></textarea><br>
  <input type="submit" value="Update" />
</form>
