<h1><%= article.title %></h1>
<h2>written by <%= article.author %></h2>
<p><%= article.content %></p>
<a href= "/articles/<%= article._id %>/edit">Edit</a>
<br>
<form action= '/articles/<%= article._id%>/?_method=DELETE' method="post">
  <input type= "submit" value = "Delete">
</form>
