<div id="site"class=show>
<div class=artist>
<img src=<%= article.image %>>
<h1><%= article.title %></h1>
</div>
<h2>last edited by <%= article.author %> on <%= article.edited %></h2>
<div class="content">
  <%- article.content %>
</div>
<a class="buttony" href= "/articles/<%= article._id %>/edit">Edit</a>
<br>
<form action= '/articles/<%= article._id%>/?_method=DELETE' method="post">
  <input class="buttony" type="submit" value="Delete">
</form>
</div>
